<div class="rTable">
    <div class="rTableRow">
        <div class="rTableCell">{{vendor.offeringVendor.vendorName.organizationName}}</div>
        <div class="rTableCell"></div>
    </div>
    <div class="rTableRow">
        <div class="rTableCell">{{vendor.serviceCommunication.correspondenceAddress.line1}}</div>
        <div class="rTableCell"></div>
    </div>
    <div class="rTableRow">
        <div class="rTableCell">
            {{vendor.serviceCommunication.correspondenceAddress.city}}
            {{vendor.serviceCommunication.correspondenceAddress.state}}
            {{vendor.serviceCommunication.correspondenceAddress.zip5}}
        </div>
        <div class="rTableCell"></div>
    </div>
</div>
