<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Claimant CE Call In</title>
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="stateHeaderParent">
            <div class="stateHeaderText">
                <h3>DISABILITY DETERMINATIONS SERVICE DIVISION</h3>
                <span>1505 N Mckinney Ln P.O. Box 21 Boise ID 83707-8533</span>
                <span>Phone 208-327-7331505</span>
            </div>
        </div>

        {{>standard_header}}

        {{>addressee_information}}

        <p class="title"><strong><u>Reminder</u></strong></p>

        <p>We are the office that makes disability decisions for the Social Security Administration.  It is very important that we speak to you about the special examination we arranged to evaluate your/{{clmt_full_name}}'s disability claim.</p>

        <p>{{prompt text "Enter text here"}}</p>

        <p>{{cannedText cannedText}}</p>


        <p>Please call the phone number(s) shown below {{org.openTime}} and {{org.closeTime}}.  When you call or leave a message, please provide the Case ID:  {{case.caseId}}, the individual's name, your name, and a call back number</p>

        <p>If you do not respond by {{clmt_ce_callin_response_date}}, we may decide the case based on the evidence we already have in file. This means that we could find that you/he/she are/is not disabaled based on our rules or that your/his/her disability has ended if you/he/she are/is already getting benefits.

        {{>interpreter_language}}

        {{>"Standard Signature Block"}}

        {{>enclosure}}<br>

        {{>multi_language_insert}}

        {{>standard_CC_block}}

        {{>standard_footer}}
    </body>
</html>
