<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Evidence Follow-Up</title>
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="stateHeaderParent">
            <div class="stateHeaderText">
                <h3>DISABILITY DETERMINATIONS SERVICE DIVISION</h3>
                <span>1505 N Mckinney Ln P.O. Box 21 Boise ID 83707-8533</span>
                <span>Phone 208-327-7331505</span>
            </div>
            <div class="stateHeader">
                <img src="{{letterhead}}"></img>
            </div>
        </div>

        {{>addressee_information}}

        <p class="title"><strong><u>Reminder</u></strong></p>

        <p>We are the office that makes disability decisions for the Social Security Administration.  On {{date_original_request}} we requested information from you about {{clmt_full_name}}'s case.</p>

        <p>To date, we have not received a response. Please complete and return the form(s) by {{clmt_fu_form_return_date}}.</p>

        <p>If you do not respond by {{clmt_fu_form_return_date}}, we may decide the case based on the evidence we already have in file. This means that we could find that you/he/she are/is not disabaled based on our rules or that your/his/her disability has ended if you/he/she are/is already getting benefits.

        <p>If you did not receive our original request, or have any questions about the form(s), please call the phone number(s) shown below {{org.openTime}} and {{org.closeTime}}.  When you call or leave a message, please provide the Case ID:  {{case.caseId}}, the individual's name, your name, and a call back number.</p>

        <p>Thank you for your help.</p>

        {{>"Standard Signature Block"}}
    </body>
</html>
