<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Cover Letter Claimant</title>
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="stateHeaderParent">
            <div class="stateHeaderText">
                <h3>DISABILITY DETERMINATIONS SERVICE DIVISION</h3>
                <span>1505 N Mckinney Ln P.O. Box 21 Boise ID 83707-8533</span>
                <span>Phone 208-327-7331505</span>
            </div>
            <div class="stateHeader">
                <img src="{{letterhead}}"></img>
            </div>
        </div>

        {{>addressee_information}}

        <p>We are the office that makes disability decisions for the Social Security Administration.  We are writing about your/{{case.claimantInfo.name.firstName}} {{case.claimantInfo.name.middleName}} {{case.claimantInfo.name.lastName}}'s disability claim</p>

        <p>{{prompt text "Enter text here"}}</p>

        <p>{{cannedText cannedText}}</p>

        <p>If you have any questions, please contact us at the number(s) shown below {{org.openTime}} and {{org.closeTime}}.  When you call or leave a message, please provide the Case ID:  {{case.caseId}}, your name, his/her name, and a call back number.</p>

        <p>Thank you for your help.</p>

        {{>"Standard Signature Block"}}

    </body>
</html>
