<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Mental Health Clinic Evidence Request</title>
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="stateHeaderParent">
            <div class="stateHeaderText">
                <h3>DISABILITY DETERMINATIONS SERVICE DIVISION</h3>
                <span>1505 N Mckinney Ln P.O. Box 21 Boise ID 83707-8533</span>
                <span>Phone 208-327-7331505</span>
            </div>
            <div class="stateHeader">
                <img src="{{letterhead}}"></img>
            </div>
        </div>

        <div class="rTable">
            <div class="rTableRow">
                <div class="rTableCell"></div>
                <div class="rTableCell"></div>
                <div class="rTableCell">RE: {{clmt_full_name}}</div>
            </div>
            <div class="rTableRow">
                <div class="rTableCell"></div>
                <div class="rTableCell"></div>
                <div class="rTableCell">AKA: {{clmt_full_name}}</div>
            </div>
            <div class="rTableRow">
                <div class="rTableCell"></div>
                <div class="rTableCell"></div>
                <div class="rTableCell">DOB: {{dateHelperFormat case.claimantInfo.dateOfBirth 'MMMM D, YYYY'}}</div>
            </div>
            <div class="rTableRow">
                <div class="rTableCell"></div>
                <div class="rTableCell"></div>
                <div class="rTableCell">SSN: {{case.claimantInfo.ssn}}</div>
            </div>
            <div class="rTableRow">
                <div class="rTableCell"></div>
                <div class="rTableCell"></div>
                <div class="rTableCell">Vendor Number: {{vendor.offeringVendor.vendorId}}</div>
            </div>
        </div>

        {{>addressee_information}}

        {{#eq case.qdd_priority_flag 'Y'}}
            <p class="txtuppercase"><strong>please expedite this urgent request.</strong></p>
        {{/eq}}
        {{#eq case.cal_priority_flag 'Y'}}
            <p class="txtuppercase"><strong>please expedite this urgent request.</strong></p>
        {{/eq}}

        <p>We are the office that makes disability decisions for the Social Security Administration. {{clmt_full_name}} is applying for or is receiving disability benefits due to the following conditions: {{case.allegationsText}}.  This is not an authorization to perform an examination.</p>

        <p><strong>What We Need From You</strong></p>

        <p>To help us evaluate this claim, please send records covering the period of:</p>

        <p>{{prompt dateRange "Treatment Dates" "MMMM, DD, YYYY"}}</p>

        <p>{{prompt text "Enter text here"}}</p>

        <p>{{cannedText cannedText}}</p>

        <p>Include the following information: medical history, psychiatric history, clinical findings, laboratory findings, imaging reports, treatment prescribed and the response, diagnosis, and prognosis</p>

        <p>Please respond by {{dateHelperAddDaysToCurrentDate 10 "MMMM D, YYYY"}}.

        {{#eq case.qdd_priority_flag 'Y'}}
            If you do not have the requested information or you cannot provide a response by {{dateHelperAddDaysToCurrentDate 10 'MMMM D, YYYY'}}, please call to let us know.
        {{/eq}}
        {{#eq case.cal_priority_flag 'Y'}}
            If you do not have the requested information or you cannot provide a response by {{dateHelperAddDaysToCurrentDate 10 'MMMM D, YYYY'}}, please call to let us know.
        {{/eq}}

        We are enclosing a signed HIPAA compliant authorization (SSA-827) for the release of medical records and information.</p>

        <p>Please provide a statement based on your findings.  Your statement should express your opinion about your patient's ability to do work-related physical and/or mental activities despite the limitations imposed by his/her medical condition(s).  For physicial impairments, these activities include sitting, standing, walking, lifting, carrying, handling objects, hearing, speaking, and traveling.  For mental impairments, these activities include: understanding, carrying out and remembering instructions, and responding appropriately to supervision, coworkers, and work pressures.</p>

        <p>If it is determined that we need additional information regarding your patient's impairments, would you be willing to perform an examination to provide additional findings?  Please contact us if you would be willing to perform this examination.  We will assume that you do not wish to perform the examination if you do not response.</p>

        <p><strong>If You Have Questions</strong></p>

        <p>If you have any questions, please contact us at the number(s) shown below {{org.openTime}} and {{org.closeTime}}.  When you call or leave a message, please provide the Case ID:  {{case.caseId}}, the individual's name, your name, and a call back number.</p>

        <p>Thank you for your help.</p>

        {{>"Standard Signature Block"}}

        {{>paperwork_reduction_act}}
    </body>
</html>
